@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.light-theme {

  /* width */
  --lap-width: 1150px;
  --full-width: 100%;

  /* bgcolor */
  --main-bg-clr: #f8f8f8;
  --primary-bg-clr: #f5f5f5;
  --secondary-bg-clr: #e8e8e8;
  --white-bg-clr: #ffffff;
  --orange-bg-clr: #FF8C00;

  /* font color */
  --grey-small-clr: #989898;
  --primary-clr: #111111;
  --white-clr: #ffffff;

  /* font size */
  --xs-fs: 10px;
  --small-fs: 12px;
  --mediu-fs: 14px;
  --xl-fs: 16px;
  --big-fs: 22px;
  --xxl-fs: 24px;

  /* icon font size */
  --icon-fs-xl: 24px;
  --icon-fs-big: 22px;
  --icon-fs-med: 16px;
  --icon-fs-small: 11px;

  /* font weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-550: 550;
  --fw-600: 600;

  /* padding */
  --container-pad: 15px;
  --xl-pad: 25px;
  --small-pad: 10px 20px;

  /* border radius  */
  --brr-small: 10px;
  --brr-medi: 30px;
  --brr-cir: 50%;

}

.dark-theme {

  /* width */
  --lap-width: 1150px;
  --full-width: 100%;

  /* bgcolor */
  --main-bg-clr: #000000;
  --primary-bg-clr: #323232;
  --secondary-bg-clr: #e8e8e8;
  --white-bg-clr: #323232;
  --orange-bg-clr: #FF8C00;

  /* font color */
  --grey-small-clr: #272626f1;
  --primary-clr: #ffffff;
  --white-clr: #111111;

  /* font size */
  --xs-fs: 10px;
  --small-fs: 12px;
  --mediu-fs: 14px;
  --xl-fs: 16px;
  --big-fs: 22px;
  --xxl-fs: 24px;

  /* icon font size */
  --icon-fs-xl: 24px;
  --icon-fs-big: 22px;
  --icon-fs-med: 16px;
  --icon-fs-small: 11px;

  /* font weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-550: 550;
  --fw-600: 600;

  /* padding */
  --container-pad: 15px;
  --xl-pad: 25px;
  --small-pad: 10px 20px;

  /* border radius  */
  --brr-small: 10px;
  --brr-medi: 30px;
  --brr-cir: 50%;

}

/* deafult css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--main-bg-clr);
}

input,
select {
  border: none;
  outline: none;
  background: none;
  font-size: var(--small-fs);
}

button {
  border: none;
  background: none;
  outline: none;
}

.link {
  color: var(--primary-clr);
}

.d-flex {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
}

/* app start */

.app-wrapper,
.addItems-wrapper,
.setting-wrapper,
.createFolder-wrapper {
  width: var(--lap-width);
  height: 100vh;
  margin: auto;
  padding: var(--xl-pad);
  position: relative;
}

/* Header start */

.header-wrapper {
  width: var(--lap-width);
  height: 70px;
  position: fixed;
  align-items: center;
  top: 0;
  background: var(--main-bg-clr);
  padding: var(--container-pad);
  justify-content: space-between;
  z-index: 1000;
}

.active {
  color: var(--primary-clr);
}

.icon-wrapper {
  gap: 35px;
  cursor: pointer;
}

.icon-wrapper .icon {
  font-size: var(--icon-fs-big);
}

/* header end */

/* serach bar start */
.searchBar-wrapper {
  margin-top: 80px;
}

.searchBar-wrapper p {
  font-size: var(--big-fs);
  margin: 0 0 20px 10px;
  color: var(--primary-clr);
}

.search-group {
  width: 45%;
  gap: 5px;
  padding: var(--small-pad);
  background: var(--primary-bg-clr);
  border-radius: var(--brr-medi);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  z-index: 10000;
}

.search-group .icon {
  color: var(--primary-clr);
}

.searchFilter-wrapper {
  width: var(--full-width);
  border: 1x solid red;
}

/* ṣearch bar end */

/* home content start */

.list-wrapper {
  margin-top: 20px;
  gap: 25px;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.item-container {
  width: 350px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: left;
  background-color: var(--white-bg-clr);
  border-radius: var(--brr-medi);
  padding: var(--xl-pad);
  cursor: pointer;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.item-container .title {
  font-size: var(--mediu-fs);
  font-weight: var(--fw-400);
  color: var(--primary-clr);
  white-space: nowrap;
  overflow: hidden;
}

.item-container .desc {
  font-weight: var(--fw-300);
  font-size: var(--small-fs);
  color: var(--primary-clr);
}

.item-container .time {
  color: #a0a0a0;
  font-size: var(--xs-fs);
  font-weight: var(--fw-200);
  letter-spacing: 0.2px;
}

/* home content end */

/* footer start */

.footer-wrapper {
  width: var(--lap-width);
  height: 60px;
  position: fixed;
  bottom: 0;
  margin: auto;
  z-index: 1000;
  padding: var(--container-pad);
  justify-content: space-around;
  border-top: 1px solid var(--primary-bg-clr);
  background: var(--main-bg-clr);
}

.footer-item-group {
  flex-direction: column;
  gap: 5px;
  font-weight: var(--fw-550);
}

.footer-item-group p {
  font-size: var(--xs-fs);
  font-weight: var(--fw-500);
}

.footer-wrapper .add-icon {
  position: fixed;
  right: 18%;
  bottom: 100px;
  padding: var(--container-pad);
  background: var(--orange-bg-clr);
  border-radius: var(--brr-cir);
}

.footer-wrapper .add-icon .icon {
  color: var(--primary-clr);
  font-size: var(--xl-fs);
}

/* footer end  */

/* add items start */

.addItems-head {
  justify-content: space-between;
  font-size: var(--big-fs);
}

.addItems-head .right-side {
  gap: 25px;
}

.addItems-head .icon {
  font-size: var(--icon-fs-big);
  color: var(--primary-clr);
}

.addItems-wrapper .folder-content {
  margin-top: 40px;
  gap: 5px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: var(--brr-small);
  cursor: pointer;
  background-color: var(--primary-bg-clr);
  font-size: var(--xs-fs);
  color: var(--primary-clr);
}

.addItems-main {
  margin-top: 40px;
  padding-left: 15px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.addItems-main input {
  font-size: var(--xl-fs);
  color: var(--primary-clr);
  font-weight: var(--fw-500);
}

.addItems-main .addItems-date {
  font-size: var(--xs-fs);
  letter-spacing: 0.3px;
  color: var(--primary-clr);
  font-weight: var(--fw-400);
}

.addItems-main .textarea {
  color: var(--primary-clr);
  height: 300px;
  padding: 15px;
  overflow: hidden;
  background-color: var(--primary-bg-clr);
}

/* add item end */

/* setting start */

.setting-wrapper .icon {
  font-size: var(--big-fs);
  color: var(--primary-clr);
}

.setting-wrapper .setting-headline {
  font-size: var(--big-fs);
  margin: 25px 0;
  font-weight: 300;
  color: var(--primary-clr);
}

.setting-service-headline {
  font-size: var(--xs-fs);
  margin: 25px 0;
  color: var(--grey-small-clr);
  letter-spacing: 0.3px;
  color: var(--primary-clr);
}

.setting-service-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.setting-wrapper-2 {
  width: 500px;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.setting-service-group {
  justify-content: space-between;
}

.setting-service-group label {
  font-size: 14px;
  font-weight: var(--fw-500);
  color: var(--primary-clr);
}

.setting-service-group select {
  background-color: var(--white-bg-clr);
  font-size: var(--xs-fs);
  letter-spacing: 0.4px;
  color: var(--primary-clr);
  cursor: pointer;
  font-weight: var(--fw-300);
}

/* setting end */

/* create folder start*/

.folder-wrapper-head {
  justify-content: space-between;
  margin-bottom: 35px;
}

.todo-count-wrapper,
.create-folder {
  justify-content: space-between;
  margin: 10px 0;
  padding: var(--container-pad);
  background: var(--white-bg-clr);
  border-radius: var(--brr-small);
}

.todo-count-wrapper .left .icon {
  font-size: var(--icon-fs-med);
  gap: 5px;
  color: var(--orange-bg-clr);
}

.createFolder-wrapper span {
  font-size: var(--xs-fs);
  color: var(--primary-clr);
}

.folder-wrapper-head span {
  font-size: var(--small-fs);
  font-weight: var(--fw-500);
  color: var(--primary-clr);
}

.createFolder-wrapper .icon {
  font-size: var(--icon-fs-big);
  color: var(--primary-clr);
}

.create-folder {
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.create-folder .icon {
  border-radius: var(--brr-cir);
  background-color: var(--orange-bg-clr);
  color: var(--primary-clr);
  font-size: var(--xl-fs);
}

/* create folder end */

/* folder pop up */

.folder-popup {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 350px;
  gap: 15px;
  height: fit-content;
  background-color: var(--white-bg-clr);
  border-radius: var(--brr-small);
  padding: 20px 0;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.folder-popup p {
  font-size: var(--small-fs);
  font-weight: var(--fw-550);
  color: var(--primary-clr);
}

.folder-popup input {
  background: var(--secondary-bg-clr);
  padding: 10px 20px;
  border-radius: var(--brr-small);
}

.folder-popup .buttons {
  gap: 20px;
}

.folder-popup .buttons button {
  padding: 10px 15px;
  width: 70px;
  border-radius: var(--brr-small);
  cursor: pointer;
}

.folder-popup .buttons .cancel {
  background: #eee;
}

.folder-popup .buttons .ok {
  background: #2987e6;
  color: var(--primary-clr);
}


/* item action start */
.item-action-wrapper {
  width: var(--lap-width);
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.item-action-header {
  width: var(--lap-width);
  height: 70px;
  position: fixed;
  top: 0;
  margin: 0;
  justify-content: end;
  gap: 25px;
  padding: var(--small-pad);
  background: var(--white-bg-clr);
  z-index: 10000;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.item-action-header .icon,
.icon-select-all {
  font-size: var(--icon-fs-xl);
  display: block;
  color: var(--primary-clr);
}

.item-action-footer {
  width: var(--lap-width);
  height: 70px;
  position: fixed;
  justify-content: space-around;
  background-color: var(--white-bg-clr);
  bottom: 0;
  margin: 0;
  z-index: 10000;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.item-action-group {
  flex-direction: column;
  gap: 5px;
}

.item-action-group .icon {
  font-size: var(--icon-fs-big);
  color: var(--primary-clr);
}

.item-action-group span {
  font-size: var(--small-fs);
  font-weight: 200;
  color: var(--primary-clr);
}

/* @media quary start by mobile view */
@media screen and (max-width: 520px) {

  /* header */
  .hide {
    display: none;
  }

  .active {
    margin-left: 50px;
    font-weight: var(--fw-400);
    letter-spacing: 1px;
  }

  .app-wrapper {
    width: var(--full-width);
    margin: 0;
    position: relative;
  }

  .header-wrapper {
    width: var(--full-width);
    left: 0;
  }

  .icon-wrapper {
    margin-right: 20px;
  }

  .icon-wrapper .icon {
    font-size: var(--icon-fs-xl);
  }

  .list-wrapper {
    gap: 0px;
    flex-direction: column;
  }

  /*search bar  */
  .searchBar-wrapper p {
    font-size: var(--xxl-fs);
  }

  .search-group {
    width: var(--full-width);
  }

  .search-group .icon {
    font-size: var(--big-fs);
  }

  /* main item container */
  .item-container {
    width: var(--full-width);
    gap: 2px;
    margin: 6px 0;
    height: fit-content;
    padding: var(--small-pad);
    border-radius: 15px;
    box-shadow: none;
  }

  /* footer */
  .footer-wrapper {
    width: var(--full-width);
    left: 0;
    height: 70px;
    justify-content: space-around;
  }

  /* todo */

  .footer-wrapper .add-icon {
    right: 8%;
    bottom: 90px;
  }

  .footer-item-group .icon {
    font-size: var(--icon-fs-med);
  }

  .footer-item-group p {
    font-size: 14px;
    font-weight: 400;
  }

  /* addItems */
  .addItems-wrapper {
    width: var(--full-width);
  }

  .addItems-head .icon {
    font-size: var(--icon-fs-xl);
  }

  .addItems-head .right-side {
    gap: 35px;
  }

  .addItems-main {
    padding: 0 10px;
  }

  .addItems-main input {
    font-size: 22px;
  }

  .addItems-main .addItems-date {
    font-size: 13px;
  }

  .addItems-main .textarea {
    width: var(--full-width);
    font-size: var(--mediu-fs);
    background: none;
    border: none;
    outline: none;
    color: var(--primary-clr);
    padding: 0;
    margin-top: 20px;
  }

  /* setting */
  .setting-wrapper {
    width: var(--full-width);
  }

  .setting-wrapper-2 {
    width: var(--full-width);
  }

  /* create folder */
  .createFolder-wrapper {
    width: var(--full-width);
  }

  /* folder start */
  .folder-popup {
    bottom: 0;
    width: fit-content;
    padding: var(--container-pad);
  }

  .item-action-header,
  .item-action-footer {
    width: var(--full-width);
    left: 0;
  }


}